@font-face {
    font-family: Couture;
    src: url(../fonts/couture-bld.otf)
}
@font-face {
    font-family: Monotype;
    src: url(../fonts/monotypecorsiva.ttf)}
    
@font-face {
font-family: Montserrat-regular;
src: url(../fonts/Montserrat-Regular.ttf)}

@font-face {
    font-family: Montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf)}

@font-face {
    font-family: Quite-chocolatey;
    src: url(../fonts/Quite-Chocolatey.ttf)}

* {
    margin: 0;   
}
.main {
    background-image: url(/img/img_main_2.png);
    background-color: #DD2211; 
    background-repeat: no-repeat;
    background-size: cover;
}
.main__inner {
    width: 1011px;
    height: 697px;
    padding-top: 68px;
    margin: 0 auto;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__text {
    font-family: Quite-chocolatey;
    color: white;
    font-size: 88px;
    text-align: start;
    margin: 0;
}
.nav__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 9px;
}
.nav_list_link {
    display: flex;
    color: white;
    text-decoration: none;
    font-family: Montserrat-regular; 
    margin-left: 20px;
    padding: 10px;
}
.home {
    border-radius: 5px;
    background-color: #130E27;
}
.nav_list_link:hover {
    border-radius: 5px;
    background-color: #130E27;
}
.main__info {
    margin-left: 22px;
}
.main__title {
    font-family: Montserrat-Bold;
    text-transform: uppercase;
    font-size: 90px;
    color: #130D27;
    line-height: 78px;
}
.main__text {
    max-width: 465px;
    font-family: PT serif;
    color: white;
    margin-top: 52px;
    margin-left: 0px;
}
.black {
    margin-top: 152px;
}
.white {
    color: #fff;
}
.services {
    width: 1011px;
    height: 475px;
    padding-top: 68px;
    margin: 0 auto;
}
.title__box {
    margin-left: 30px;
    margin-right: 30px;
}
.title__box__inner {
    font-family: Couture;
    text-transform: uppercase;
    font-size: 50px;
    color: #C52313;
    
}
.title__box__inner2 {
    color: #130D27; 
}
.cards__services {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.item__services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 190px;
}

.item__services img {
    height: 150px;
    width: auto;
    margin-bottom: 45px;
    margin-top: 100px;
}
.item__text {
    text-align: center;
    font-family: PT serif;
    font-size: 20px;

}
.story {
    background-color: #130D27;
    color: white;
    text-decoration: none;
}

.story__inner {
    width: 1011px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.story__text {
    padding-left: 20px;
    font-size: 20px;
    font-family: PT serif;

}
.story__link {
    background-color: #C62314;
    font-family: Montserrat-regular;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 22px 65px;
    border-radius: 10px;
}

.pricing {
    background-color: #EFEFEF;
    
}
.pricing__inner {
    width: 1011px;
    margin: 0 auto;
}
.pricing__title1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat-bold;
    color: #130D27;
    font-size: 50px;
    padding-top: 65px;
    margin-bottom: 60px;
}
.cards__pricing {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.item__pricing {
    background-color: #fff;
    height: 420px;
    width: 322px;
    text-align: center;
    border-radius: 10px;
}
.pricing__title2 {
    color: #C52313;
    font-family: Montserrat-bold;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 20px;

}
.list__pricing {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    font-family: PT serif;
    font-size: 20px;
    line-height: 27px;
}
.pricing__type{
    margin-top: 35px;
    font-family: PT serif;
    font-size: 22px;
}
.pricing__bottom {
    background-color: #130E27;
    border-radius: 5px;
    width: 205px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    cursor: pointer;
}
.pricing__bottom:hover {
    background-color: #C62314;
}
a.pricing__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-family: Montserrat-regular;   
}

.footer {
    background-color: #130E27;
}
.footer__inner {
    width: 1011px;
    height: 188px;
    margin: 0 auto;
    
}
.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__infotext {
    color: white;
    font-size: 20px;
    font-family: PT Serif;
    
}

.automotive__footer {
    color: red;
    font-family: Quite-chocolatey;
    font-size: 64px;
    margin: 50px 56px 60px auto;
}

span.footer__Design {
    color: red;
}




